body {
  position: relative;
}

header {
  height: 100px;
  line-height: 68px;
  font-size: 20px;
  text-align: center;
  position: absolute;
  z-index: 99;
  width: 100%;
  margin-top: -1.4rem;
  text-shadow: 1px 1px 1px #fff;
	left: 50%;
	transform: translateY(0) translateX(-50%);
  -webkit-transform: translateY(0) translateX(-50%);
}